# Ignore these directories at any level
/AccelerometerData/
/.obsidian/
/Output/
/OtherData(NotReady)/

# Ignore R history files
*.Rhistory

# Ignore various other file types
*.txt
*.rds
*.rda
*.pdf
*.png
*.docx
*.pptx
*.svg
*.names
*.joblib
*.pyc
