# Ignore these directories at any level
Data/
.obsidian/
Output/
.git/

# Ignore R history files
*.Rhistory

# Ignore various other file types
*.txt
*.rds
*.rda
*.pdf
*.docx
*.pptx
*.svg
*.names
*.joblib
*.pyc
